fixed {
    background:#6666;
    z-index:2;
position: relative;
top: 20px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}
header {
    background: #ebebeb;
}
article {
    color: #ebebeb;
    background: #777;
}
h1 {
    color: #777;
    background: #ebebeb;
}
p {
    color: #777;
    background: #ebebeb;
}
aside {

    padding: 60px;
    background: white;
    float: left;
    color: #333;
  }  
section {
    width: 495px;
}